# Compiled and build artifacts
*.o
*.obj
*.exe
*.dll
*.so
*.a
*.out
**/*.rs.bk

# Dependency (Rust)
target/

# Logs and temp files
*.log
*.tmp
*.swp
*.swo

# Environment
.env
.env.local
*.env.*
.envrc

# Editors
.vscode/
.idea/

# Build and distribution
dist/
build/
*.pyc
*.class
system.md

keys/
*.jks
*.keystore
